table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
}
th{
    text-align: center;
}
.section1{
    margin-top: 50px;
}
.section2{
    margin-top: 50px;

}
p{
    text-align: center;
}
.botones{
    float: right;
    
}
.bottonre{
    float:right;
    

    
}
.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #0016b0;
    border-radius: 6px;
    border: 2px solid #0c28fa;
}
.btn{
    float: right;
    margin-right: 140px;
}